body {
    font-family: "Nunito", sans-serif;
}

h5.card-title {
    color: #171717 !important;
}

a.link-img,
h5.card-title:hover {
    color: #2a5ce4 !important;
    text-decoration: none;
}

a.link-img:hover {
    text-decoration: none;
}
